/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    max-width: 1440px;
    margin: 0 auto;
}
/* shared styles */
:root{
    --text-color:#3A3A3A;
    --btn-color:#E02C6D;
    --white-color:#FFFFFF;
}
li,a{
    list-style: none;
    text-decoration: none;
}




/* nav section */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 87px;
    margin-bottom: 50px;
    
}
nav .nav-logo{
    font-weight: bold;
    font-size: 24px;
    color: var(--text-color);

}
nav .menu ul{
    display: flex;
    gap: 34px;


}
nav .menu ul li a{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);

}
/* banner section */
.hero-section{
    display: flex;
    align-items: center;
    gap: 133px;
    margin-bottom: 100px;
}
.hero-section .hero-header{
    max-width: 582px;
    margin-left: 120px;
}
.hero-section .hero-header h1{
    width: 100%;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: var(--text-color);
    margin-bottom: 16px;
}
.hero-section .hero-header p{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 16px;
}
.hero-section .hero-header button{
    background-color: var(--btn-color);
    border: none;
    border-radius: 10px;
    color:var(--white-color) ;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.hero-section .hero-header button:hover{
    background-color: #3A3A3A;
}
.hero-section .banner-img{
    max-width: 475px;
    margin-right: 120px;
    background: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-section .banner-img img{
    width: 100%;
}
/* main section--sponsors */
.companies{
    margin: 0 auto;
    max-width: 1110px;
    border: 1px solid #C0CCDA;
    display: flex;
    gap: 60px;
    padding: 36px 62px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
/* popular section */
.popular-section{
    max-width: 1047px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.popular-section h2{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: var(--text-color);
    margin-bottom: 30px;

}
.popular-section .popular-collection{
    /* display: flex;
    gap: 30px;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.popular-section .popular-collection .product-card{
    max-width: 329px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0 #000000;
    padding: 20px 15px;
    margin-bottom: 50px;
}
.popular-section .popular-collection .product-card img{
    width: 300px;
    border-radius: 5px;
}
.popular-section .popular-collection .product-card h3{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin-bottom: 6px;
}
.popular-section .popular-collection .product-card .price{
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 10px;
}
.popular-section .popular-collection .product-card p{
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
}
.popular-section .see-more ul{
    text-align: right;    
}
.popular-section .see-more ul li a{
    color: var(--btn-color);
    font-weight: 700;
    font-size: 16px;

}
/* featured products section */
.featured-products{
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.featured-products .featured-products-div{
    display: flex;
    gap: 96px;
    align-items: center;
}
.featured-products .featured-products-div .featured-details{
    max-width: 610px;
}
.featured-products .featured-products-div .featured-details h2{
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 16px;
}
.featured-products .featured-products-div .featured-details p{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 16px;
}
.featured-products .featured-products-div .featured-details button{
    font-weight: 700;
    font-size: 16px;
    color: var(--white-color);
    padding: 10px 24px;
    border: none;
    background-color: var(--btn-color);
    cursor: pointer;
}
.featured-products .featured-products-div .featured-details button:hover{
    background-color: #3A3A3A;
}
/* footer section */
.footer-section{
    max-width: 1440px;
    background-color: #0A0826;
    text-align: center;
}
.footer-section .footer-details{
    justify-self: center;
    padding: 50px; 
}
.footer-section .footer-details h3{
    width: 243px;
    font-weight: 700;
    font-size: 24px;
    color: var(--white-color);
    margin-bottom: 3px;
}
.footer-section .footer-details p{
    width: 262px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    margin-bottom: 17px;
}
.footer-section .footer-details img{
    margin-right: 16px;
    cursor: pointer;
}
