/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    max-width: 1440px;
    margin: 0 auto;
}
/* shared styles */
:root{
    --text-color:#3A3A3A;
    --btn-color:#E02C6D;
    --white-color:#FFFFFF;
}
li,a{
    list-style: none;
    text-decoration: none;
}




/* nav section */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 87px;
    margin-bottom: 50px;
    
}
nav .nav-logo{
    font-weight: bold;
    font-size: 24px;
    color: var(--text-color);

}
nav .menu ul{
    display: flex;
    gap: 34px;


}
nav .menu ul li a{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);

}
/* banner section */
.hero-section{
    display: flex;
    align-items: center;
    gap: 133px;
    margin-bottom: 100px;
}
.hero-section .hero-header{
    max-width: 582px;
    margin-left: 120px;
}
.hero-section .hero-header h1{
    width: 100%;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: var(--text-color);
    margin-bottom: 16px;
}
.hero-section .hero-header p{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 16px;
}
.hero-section .hero-header button{
    background-color: var(--btn-color);
    border: none;
    border-radius: 10px;
    color:var(--white-color) ;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.hero-section .hero-header button:hover{
    background-color: #3A3A3A;
}
.hero-section .banner-img{
    max-width: 475px;
    margin-right: 120px;
    background: url(./images/Circle\ design.svg);
}
.hero-section .banner-img img{
    width: 100%;
}
/* main section--sponsors */